name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [synchronize]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Run Tests
        run: |
          npm run test