name: Initialize Action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - feature/*
      - main

jobs:
  build:
    name: Build Artifact
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - name: Zip scripts
        run: |
          zip scripts.zip scripts/*.sh
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: scripts.zip
          path: scripts.zip