name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [synchronize]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref == 'refs/heads/main' && 'develop' || '' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Run Tests
        run: |
          npm run test